body {
    background-color: rgba(255, 210, 161, 0.868);
    color: rgb(106, 56, 4); 
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.instruction {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 210, 161, 0.868);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    color: white;
    text-align: center;
}

.instruction div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instruction div h1 {
    font-size: 4vw;
}

.instruction div p {
    color: rgb(142, 95, 45); 
    font-size: 2vw;
    animation: float 2s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 90vh;
}

.score {
    margin: 2vw;
    font-size: 1.6vw;
}

.animal {
    position: absolute;
    width: 7vw;
    height: 7vw;
    animation: fadein 1s;
    background-image: url('images/fishleft.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.claw {
    position: absolute;
    top: -80vh;
    left: 50vw;
    width: 10vw;
    height: 100vh;
    background-image: url('images/claw.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes react {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

